---
import SpaceLR from "../components/SpaceLR.astro";
import Layout from "../layouts/Layout.astro";
import { Icon } from  "astro-icon";
---

<Layout title="Access - EASIT2024">
    <SpaceLR start="2" end="12">
        <div class="text-lg mb-4">
            Venue: 
            <a href="https://shonan-village.co.jp/eng/" class="text-blue-500 hover:text-blue-700 visited:text-purple-500">
                Shonan village center
                <Icon name="akar-icons:link-out" class="w-5 h-5 inline-block" />
            </a>
        </div>
        <div class="map mb-4 pt-[75%] sm:pt-[56.25%] md:pt-[450px]">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13031.448796430108!2d139.59886424840636!3d35.25968386361544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60184754a9f32865%3A0x7708c6faa4945487!2z5rmY5Y2X5Zu96Zqb5p2R44K744Oz44K_44O8!5e0!3m2!1sja!2sjp!4v1694578687164!5m2!1sja!2sjp"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                class="w-[100%] h-[100%] md:w-[600px] md:h-[450px]"
            ></iframe>
        </div>
        <div>
            <div class="flex">
                <Icon name="ic:round-train" class="w-6 h-6 text-blue-800" />
                How to Access:
            </div>
            <p>
            Haneda Aiport &rarr; (Keikyu Airport Line: 60 min) &rarr; Zushi・Hayama Station 
        &rarr; (Bus &sharp;16: 30 min) &rarr; Shonan Kokusaimura Center Mae (Venue)
            </p>
            <!-- <p>
                Haneda airport<br>
                &darr; Keikyu Airport Line, to Zushi・Hayama station: 75min<br>
                Zushi・Hayama station<br>
                &darr; Bus &sharp;16 to Shonan village: 30min<br>
                Shonan village center (Bus stop)
            </p> -->
        <p>
        For more information, visit the 
        <a href="https://shonan-village.co.jp/eng/" class="text-blue-500 hover:text-blue-700 visited:text-purple-500">
        Access Page        
        <Icon name="akar-icons:link-out" class="w-5 h-5 inline-block" />
        </a>
        of Shonan village center.
        </p>
        </div>
    </SpaceLR>
</Layout>

<style>
    .map {
        width: 100%;
        position: relative;
    }
    .map iframe {
        position: absolute;
        top: 0;
        left: 0;
    }
</style>
