---
import SpaceLR from "../components/SpaceLR.astro";
import Layout from "../layouts/Layout.astro";
import { Icon } from  "astro-icon";
---

<Layout title="EASIT2024">
    <SpaceLR start="2" end="12">
    <div class="text-3xl font-bold text-center my-2">
		Call for Participants/Posters
	</div>
<p>
Every participant is invited to present a poster at the summer school.
The poster presentation may be original/unpublished work (including a "tutorial-style" survey) or already published work. <br />
We encourage graduate students/young researchers who do not yet have original research to present a poster.
</p>

<span class="pt-4">&nbsp;<span/>
<ul class="ml-8 list-group">
	<li class="list-group-item">
	Poster Submission Deadline: <span class="font-medium">April 1, 2024</span>
	</li>
	<li class="list-group-item">
        Notification of Decision: <span class="font-medium">April 30, 2024</span>
        </li>
        <li class="list-group-item">
        Submission Page: <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfPzi1w-2sYIjNQSgBPfpxWXjbUlbxlizYsb4zTrm8g7uZ7fw/viewform?usp=sf_link"  class="text-blue-500 hover:text-blue-700 visited:text-purple-500">
Poster Submission Form</a><br />
The title and abstract are only for the purpose of participant selection.
No proceeding will be generated.
        </li>
</ul>

<span class="pt-4">&nbsp;<span/>

<p><span class=font-medium">Registration Fee:</span></p>
<ul class="ml-8 list-group">
	<li class="list-group-item">
	IEEE Nom-member 25,000 JPY
	</li>
	<li class="list-group-item">
        IEEE member 17,000 JPY
        </li>
        <li class="list-group-item">
        IEEE IT Soc. member 12,000 JPY
        </li>
</ul>
<p>The accommodation cost (including 3 meals) will be about 10,000 JPY per night, 
but it may be further subsidized.</p>
</SpaceLR>
</Layout>
