---
import SpaceLR from "../components/SpaceLR.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="EASIT2024">
    <SpaceLR start="2" end="12">
    <div class="text-3xl font-bold text-center my-2">
		Call for Participants/Posters
	</div>
<p>
Every participant is invited to present a poster at the summer school.
The poster presentation may be original/unpublished work (including a "tutorial-style" survey) or already published work. <br />
We encourage graduate students/young researchers who do not yet have original research to present a poster.
</p>
        <ul type="disc">
            <li>
                <span class="font-medium">Submission deadline</span> of title and abstract: <span class="font-medium">April 1, 2024</span>
            </li>
            <li>
                <span class="font-medium">Notification of decision</span>: <span class="font-medium">April 30, 2024</span>
            </li>
            <li>
                <span class="font-medium">Submission information</span>:
                The title and abstract are only for the purpose of participant selection.
                Note that no proceeding will be generated.
            </li>
        </ul>
    </SpaceLR>
</Layout>
