---
import SpaceLR from "../components/SpaceLR.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="EASIT2024">
    <SpaceLR start="2" end="12">
    <div class="text-3xl font-bold text-center my-2">
		Call for Participants/Posters
	</div>
<p>
Every participant is invited to present a poster at the summer school.
The poster presentation may be original/unpublished work (including a "tutorial-style" survey) or already published work. <br />
We encourage graduate students/young researchers who do not yet have original research to present a poster.
</p>

<p>
        <ul style="list-style: disc;">
            <li>
                Poster Submission Deadline: <span class="font-medium">April 1, 2024</span>
            </li>
            <li>
                Notification of Decision: <span class="font-medium">April 30, 2024</span>
            </li>
            <li>
                Submission Page: <a href="https://docs.google.com/forms/d/e/1FAIpQLSfPzi1w-2sYIjNQSgBPfpxWXjbUlbxlizYsb4zTrm8g7uZ7fw/viewform?usp=sf_link"  class="text-blue-500 hover:text-blue-700 visited:text-purple-500">Poster Submission Form</a>
                <Icon name="akar-icons:link-out" class="w-5 h-5 inline-block" /><br />
The title and abstract are only for the purpose of participant selection.
                No proceeding will be generated.
            </li>
        </ul>
</p>
    </SpaceLR>
</Layout>
