---
import Layout from '../layouts/Layout.astro';
---

<Layout title="about - EASIT2024">
	<div class="text-3xl font-bold">
		IEEE East Asian School of Information Theory 2024
	</div>
	<div>
		text text text
	</div>
</Layout>

<style>

</style>
