---
import SpaceLR from '../components/SpaceLR.astro';
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';

import daibutsujpg from '../images/daibutsu.jpg';
import mtfujijpg from '../images/mtfuji.jpg';
import shonanvillagejpg from '../images/shonanvillage.jpg';
import nictpng from '../images/nict.png';
import kayamori from '../images/kayamori.jpeg';
---

<Layout title="EASIT2024">
	<div class="text-3xl font-bold text-center my-2">
		IEEE East Asian School of Information Theory 2024
	</div>
	<div class="text-center mb-2">
		<ul>
			<li>
				July 30 - August 2, 2024
			</li>
			<li>
				Shonan, Japan
			</li>
			<li>
				On-site only
			</li>
		</ul>
	</div>
	<SpaceLR start="2" end="12">
		<p>
			IEEE EASIT 2024 will be held from July 30 to August 2 at Shonan Village Center in Japan.
			The school offers an opportunity to learn from experts and exchange ideas.
			Graduate students and young researchers are encouraged to apply with your poster information.
		</p><br />
	</SpaceLR>
	<SpaceLR start="2" end="12">
		<div class="sm:grid sm:grid-cols-6 sm:gap-4">
			<Image src={shonanvillagejpg} alt="shonan village" class="mb-2 sm:col-start-2 sm:col-end-6" />
			<!-- <Image src={daibutsujpg} alt="daibutsu" class="mb-2 sm:col-start-4 sm:col-end-7" />-->
		</div>
		<h2>Shonan:</h2>
		<p>
			A beautiful bay area located near Tokyo.
			Shonan offers a stunning view of Mount Fuji on a clear day.
			It's only about an hour away from Tokyo Haneda airport and is
			next to Kamakura, a popular sightseeing spot famous for the Great Buddha (Daibutsu).
		</p>
		<div class="grid grid-cols-12 gap-4 mt-4">
			<h2 class="font-bold col-start-1 col-end-13">Sponsors</h2>
			<a href="https://www.nict.go.jp/en/index.html" class="col-start-1 col-end-8 sm:col-start-1 sm:col-end-4">
				<Image src={nictpng} alt="nict" />
			</a>
			<p class="col-start-1 col-end-13 sm:col-start-4 sm:col-end-13">
				International Exchange Program of National Institute of Information and Communications Technology  (NICT)
			</p>
			<a href="https://www.kayamorif.or.jp/" class="col-start-2 col-end-6 sm:col-start-2 sm:col-end-4">
				<Image src={kayamori} alt="kayamori" />
			</a>
			<p class="col-start-1 col-end-13 sm:col-start-4 sm:col-end-13">
				Kayamori Foundation of Informational Science Advancement
			</p>
			<p>Supported in part by JSPS KAKENHI</p>
		</div>
	</SpaceLR>
</Layout>

<style>

</style>
