---
import Layout from '../layouts/Layout.astro';
---

<Layout title="about - EASIT2024">
	<div class="text-3xl font-bold">
		IEEE East Asian School of Information Theory 2024
	</div>
	<div>
		<ul>
			<li>
				July 30 (Tue) - August 2 (Fri), 2024
			</li>
			<li>
				Shonan, Japan
			</li>
			<li>
				on-site only
			</li>
		</ul>
	</div>
</Layout>

<style>

</style>
