---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon";

// lecturerの情報
interface Lecturer {
    name: string
    univ: string
}

const lec = (name: string, univ: string): Lecturer => {
    return { name, univ }
}

// ここが順番に表示される
const lecturers: Lecturer[] = [
    lec("Amin Gohari", "Chinese University of Hong Kong"),
    lec("Iftach Haitner", "Tel Aviv University"),
    lec("Shuichi Hirahara", "National Institute of Informatics"),
    lec("Tianren Liu", "Peking University"),
    lec("Arpita Patra", "Indian Institute of Science, Bangalore"),
    lec("Igal Sason", "Technion"),
]

---

<Layout title="Lecturer - EASIT2024">
    <div class="grid grid-col-12 gap-4">
        <ul class="col-start-1 col-end-13 sm:col-start-2 sm:col-end-12">
            {lecturers.map((v) => 
                <li class="mb-2">
                    <div>{v.name}</div>
                    <div class="text-sm">{v.univ}</div>
                </li>
            )}
        </ul>
    </div>
</Layout>
