---
import Link from './Link.astro';

interface Props {

}

const {} = Astro.props;
---

<header class="bg-blue-900 text-white">
    <h1 class="text-center md:text-left md:pl-3 py-1">
        <a href="/" class="text-3xl hover:text-indigo-200">
            IEEE EASIT 2024
        </a>
    </h1>
    <ul>
        <Link href="/" name="about" />
        <Link href="/lecturer" name="lecturer" />
        <Link href="/access" name="access" />
        <Link href="/committee" name="committee" />
    </ul>
</header>

<style>
    h1 {
        font-family: 'Oswald', sans-serif;
    }
</style>
